MONGO_URI=mongodb://localhost:27017/hushiar
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
INFLUX_URL=
INFLUX_TOKEN=
INFLUX_ORG=
INFLUX_BUCKET=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=mailto:example@yourdomain.org
KAVENEGAR_API_KEY=
MQTT_PASSWORD_ENCRYPTION_KEY=
HUSHIAR_MQTT_HOST=mqtt.hushiar.com
HUSHIAR_MQTT_PORT=1773
HUSHIAR_MQTT_USERNAME=
HUSHIAR_MQTT_PASSWORD=
CAMERA_IMAGE_STORAGE_PATH=./storage/images
CAMERA_VIDEO_STORAGE_PATH=./storage/video
ARCHIVE_VIDEO_DURATION_MIN=1
MONITORING_DURATION_SECOND=5
